<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Sign up</h2>
        <br>
        <label for="role"><b>Role</b></label>
        <select class="custom-select" name="typelist" form="typeform" id="rol">
            <option value="Tecnico">Tecnico</option>
            <option value="Empleado">Empleado</option>
            <option value="Coordinador">Coordinador</option>        
            <option value="Administrador">Administrador</option>
        </select>
        <div class="justify-content-center align-self-center mt-3">
            <a href="/auth/sign-up/{{rolUsuario}}">
                <button type="button" (click)="signUp()" class="btn btn-primary">Confirmar rol</button>
            </a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>