<div class="row">
<div class="col"></div>
<div class="col-8">  
<div class="card-group"  *ngFor="let incidente of incidentes">
     <div class="card border-secondary mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-Header">Incidente: {{incidente.id}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Descripcion: {{incidente.descripcion}}<br>
                                                      Observaciones: {{incidente.observaciones}}<br>
                                                      </h6>
                                                      <table class="table table-striped">
                                                       <thead class="thead-dark">
                                                            <tr>
                                                                 
                                                                 <th scope="col">fechaHoraInicial</th>
                                                                 <th scope="col">fechaHoraFinal</th> 
                                                                 <th scope="col">Calificacion</th>
                                                                 <th scope="col">Prioridad</th>
                                                                 <th scope="col">Categoria</th>
                                                                 
                                                            </tr>
                                                       </thead>
                                                       <tbody>
                                                            <tr>
                                                            
                                                            <td>{{incidente.fechaHoraInicio}}</td>
                                                            <td>{{incidente.fechaHoraFinal}}</td>
                                                            <td>{{incidente.calificacion}}</td>
                                                            <td>{{incidente.prioridad}}</td>
                                                            <td>{{incidente.categoria}}</td> 
                                                       </tr>

                                                  </tbody>
                                             </table>
            
            <a href="/incidente/{{incidente.id}}"   class="btn btn-primary">Más Información</a>

          </div>
     </div>   
</div>
</div>
<div class="col"></div>
</div>