
<div class="container-fluid">
  <h1>Información del tecnico</h1>
  <p class="h4 p-3">
		Usuario:
	</p>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Usuario</th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<th>{{tecnicoDetail.usuario}}</th>
				</tr>
			</tbody>
		</table>
  <br>
  <p class="h4 p-3">
	Incidentes:
</p>
<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th>id</th>
				<th>Incidentes</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let incidente of tecnicoDetail.numCasos">
				<th>{{incidente.id}}</th>
			</tr>
		</tbody>
	</table>
 



</div>