<p>
  tecnico-detail-list works! 
</p>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="card" style="width: 18rem;">
					<img src="https://icon-library.net/images/user-image-icon/user-image-icon-17.jpg"
						class="card-img-top" alt="...">
					<div class="card-body">
						<h4 class="card-title">
							Informacion del Tecnico:
						</h4>
						<p class="card-text">
							<li>
								UserName: {{tecnicoDetail.username}}
							</li>
							<li>
								Contraseña: {{tecnicoDetail.password}}
              </li>
              <li>
								Número de casos: {{tecnicoDetail.numCasos}}
              </li>
              <li>
								Especialidad: {{tecnicoDetail.especialidad}}
							</li>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-9">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link" routerLink="/tecnico/{{id}}/incidentes"
							routerLinkActive="active">Incidentes</a>
					</li>
				</ul>
			</nav>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>