<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="nav justify-content-center">
                <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/coordinadores" routerLinkActive="active">Coordinadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/incidentes" routerLinkActive="active">Incidentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/empleado" routerLinkActive="active">Empleado</a>
                </li>
            </ul>
</nav>
    <router-outlet></router-outlet>
<div class = "list">
</div>