<form [formGroup]="actuacionForm" (ngSubmit)="createActuacion(actuacionForm.value)">
  
  <div class="form-group mx-sm-3 mb-2">
    <label for="fechaHora">Fecha-Hora</label>
    <input id ="descripcion" type = "text"
      id="fechaHora"
      class="form-control"
      formControlName="fechaHora"
      placeholder="La fecha y la hora de la actuación">
  </div>
  <div class = "form-group mx-sm-3 mb-2">
    <label for = "descripcion">Descripción</label>
    <input novalidate
      class = "form-control"
      formControlName="descripcion"
      placeholder="La descripción de la actuación"> 
  </div>

  <button class = "button ms-sm-3 mb-2" type ="submit"
    [disabled]="actuaciontForm.invalid">Crear</button>
  <div class = "alert alert-danger alert-dismissible fade show" 
    *ngIf="actuaciontForm.get('descripcion'.hasError('required') &&
    actuaciontForm.get('name')).touched">Descripción requerida
  </div>
</form>