<form [formGroup]="coordinadorForm" (ngSubmit)="createCoordinador(coordinadorForm.value)">

  <div class="form-group mx-sm-3 mb-2">
    <label for="nombre">
      Name
    </label>
    <input novalidate id="nombre" class="form-control" formControlName="nombre" placeholder="Your Full Name">
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="coordinadorForm.get('nombre').hasError('required') && 
        coordinadorForm.get('nombre').touched">
      Name required
    </div>
  </div>

  <div class="form-group  mx-sm-3 mb-2">
    <label for="username">
      Username
    </label>
    <input id="username" type="text" class="form-control" formControlName="username" placeholder="Your username">
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="coordinadorForm.get('username').hasError('required') && 
        coordinadorForm.get('username').touched">
      Username required
    </div>
  </div>

  <div class="form-group  mx-sm-3 mb-2">
    <label for="password">
      password
    </label>
    <input id="password" type="text" class="form-control" formControlName="password" placeholder="Your password">
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="coordinadorForm.get('password').hasError('required') && 
        coordinadorForm.get('password').touched">
      Password required
    </div>
  </div>

  <button class="button mx-sm-3 mb-2" type="submit" [disabled]="coordinadorForm.invalid">Create</button>

</form>