<div class="container-fluid">
	<div class="col-md-2">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th> Incidente Detail</th>
					<th scope="col">Datos del Incidente</th>
					
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let Incidente of incidentes">
					<td>{{incidente.id}}</td>
                    <td>{{incidente.fechaHoraInicial}}</td>
                    <td>{{incidente.fechaHoraFinal}}</td>
                    <td>{{incidente.descripcion}}</td>
                    <td>{{incidente.observaciones}}</td>
                    <td>{{incidente.calificacion}}</td>
                    <td>{{incidente.categoria}}</td>
                    <td>{{incidente.prioridad}}</td>
                    <td>{{incidente.solucionado}}</td>
                    <td>{{incidente.reabrir}}</td>
                    <td>{{incidente.equipo}}</td>
                    <td>{{incidente.tecnico}}</td>
                    <td>{{incidente.empleado}}</td>
                    <td>{{incidente.coordinador}}</td>
                    <td>{{incidente.actuaciones}}</td>

				</tr>

			</tbody>
		</table>
	</div>
</div>