<div class=row>
		<a href="/coordinadores/create" class="btn btn-success">Crear Coordinador</a>
</div>
<router-outlet></router-outlet>
<div class=row>
	<div *ngFor="let c of coordinadores" class="card" style="width: 18rem;">
		<img src="https://icon-library.net/images/user-image-icon/user-image-icon-17.jpg"
			class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{c.name}}</h5>
			<a href="/coordinador/{{c.id}}" class="btn btn-primary">Ver perfil</a>
		</div>
	</div>
</div>